/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header-Profile{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.menu{
  display:flex;
  gap:24px;
  align-items: center;
}

menu:hover {
  opacity: 0.7;
}


/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual{
  width:100%;
  height: 640px;
  border-radius: 16px;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/


/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile{
  display: flex;
  flex-direction: row;
}

.profile-image{
  border-radius: 50%;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/

.article-section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 40px;
}

.article{
  display: grid;
  grid-template-rows:
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
  .footer{
    
  }